In [3]:
import database
import pandas as pd

# Load the dataframe
df = database.main()

# Display the first few rows of the dataframe
print(df.head())

                     title       company  \
0  Data Analyst internship  PGBPGNGLOBAL
1  Senior Data Analyst H/F         Qonto
2             Data Analyst          Jump
3             Data analyst       Oh BiBi
4     Product Data Analyst     leboncoin

                                         description            location  \
0                                                       Paris, France
1  Les missions du poste\n\nOur mission? Making d...           Anywhere
2  Pour relever ces défis, nous recrutons un·e Da...    Paris, France
3  Job Description:\n\nAs a Data Analyst at OhBiB...    Paris, France
4  The right career for all\n\nCreated in 2006, l...    Paris, France

                         via  \
0             via PG Careers
1              via HelloWork
2  via Welcome To The Jungle
3                 via Indeed
4               via LinkedIn

                                          extensions  \
0                       {"Full-time and Internship"}
1  {"9 hours ago","Work from home",Full-time,"9 h...
2  {"18 hours ago",Full-time,"18 hours ago",Full-...
3    {"4 days ago",Full-time,"4 days ago",Full-time}
4  {"24 hours ago",Full-time,"No degree mentioned...

            employment_type       work_mode  posting_date  \
0  Full-time and Internship            None          None
1                 Full-time  Work from home   9 hours ago
2                 Full-time            None  18 hours ago
3                 Full-time            None    4 days ago
4                 Full-time            None  24 hours ago

    degree_requirement salary        posted_at_timestamp
0                 None   None                        NaT
1                 None   None 2024-02-13 01:54:19.019501
2                 None   None 2024-02-12 16:54:19.019501
3                 None   None 2024-02-09 10:54:19.019501
4  No degree mentioned   None 2024-02-12 10:54:19.019501

In [4]:
# Get the summary statistics of the dataframe
print(df.describe())

               title  company  \
count            880      880
unique           220      232
top     Data Analyst  Greenly
freq             115       16
first            NaN      NaN
last             NaN      NaN

                                              description            location  \
count                                                 880                 880
unique                                                305                  16
top     Company Description\n\nWhy work for Accor?\n\n...    Paris, France
freq                                                    7                 729
first                                                 NaN                 NaN
last                                                  NaN                 NaN

                 via             extensions employment_type       work_mode  \
count            880                    880             875              90
unique            89                    230              14               1
top     via LinkedIn  {Full-time,Full-time}       Full-time  Work from home
freq             107                     97             638              90
first            NaN                    NaN             NaN             NaN
last             NaN                    NaN             NaN             NaN

       posting_date   degree_requirement             salary  \
count           607                  264                 90
unique           46                    1                 24
top      3 days ago  No degree mentioned  €75K–€120K a year
freq             71                  264                 10
first           NaN                  NaN                NaN
last            NaN                  NaN                NaN

               posted_at_timestamp
count                          607
unique                         167
top     2024-02-14 17:42:02.658252
freq                            17
first   2024-01-15 10:54:19.019501
last    2024-02-18 14:36:02.225160

C:\Users\karim.HOME\AppData\Local\Temp\ipykernel_15600\3977629830.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(df.describe())

In [5]:
# Check the data types of each column
print(df.dtypes)

title                          object
company                        object
description                    object
location                       object
via                            object
extensions                     object
employment_type                object
work_mode                      object
posting_date                   object
degree_requirement             object
salary                         object
posted_at_timestamp    datetime64[ns]
dtype: object

In [6]:
# Check for missing values in the dataframe
print(df.isnull().sum())

title                    0
company                  0
description              0
location                 0
via                      0
extensions               0
employment_type          5
work_mode              790
posting_date           273
degree_requirement     616
salary                 790
posted_at_timestamp    273
dtype: int64

In [8]:
# Calculate duplicates
duplicates = df.duplicated().sum()
print(duplicates)

260